/*------------------------- GLOBAL -------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, a, p{
    margin: 0;
    padding: 0;
}

h1, h2{
    font-size: 56px;
    font-weight: 500;
}

h3{
    font-size: 40px;
    font-weight: 500;
}

h4{
    font-size: 36px;
    font-weight: 500;
}

h5{
    font-size: 30px;
    font-weight: 500;
}

h6{
    font-size: 24px;
    font-weight: 500;
}

p{
    font-size: 20px;
    font-weight: 400;
}

a{
    font-size: 16px;
    font-weight: 400;
}

body{
    font-family: 'Red Hat Display', sans-serif;
}



/*----------------------------- UPPER SECTION -----------------*/

/*---------------------- HEADER ------------------*/

.upper{
    max-width: 1440px;
    min-width: 1300px;
    width: 100%;
    background-color: #F9F6F5;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header{
    max-width: 1440px;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 40px 100px;
}

.logo-text{
    line-height: 30px;
    text-decoration-line: underline;
    color: #222222;
    font-weight: bold;
    font-style: italic;
}

.logo-text:hover{
    color: rebeccapurple;
}

.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.menulist{
    line-height: 20px;
    margin-right: 40px;
}

.menulist:hover{
    transform: scale(1.04);
}

.menulist:last-child{
    margin-right: 0;
}

.menulist a{
    color: #222222;
}

.menulist a:hover{
    color: rebeccapurple;
}

.header-icons{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-icons-mod{
    margin-right: 24px;
    transition: 0.4s;
}

.header-icons-mod:hover{
    transform: scale(1.1);
    transition: 0.4s;
}

.header-icons-mod:last-child{
    margin-right: 0;
}

/*---------------------------- HERO ----------------------------*/

.hero {
    max-width: 1440px;
    width: 100%;
    position: relative;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-left: 100px;
}

.hero-text{
    max-width: 1440px;
    width: 50%;
    background: #F9F6F5;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.hero-maintitle{
    line-height: 70px;
    color: #000000;
}

.hero-paragraph{
    line-height: 32px;
    margin-top: 30px;
    color: #555555;
}

.search-form{
    width: 336px;
    background: #FFFFFF;
    padding: 8px;
    margin-top: 30px;
}

.form-container{
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.search-field{
    width: 90%;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #999999;
    padding-left: 8px;
    border: none;
    outline: none;
}

.search-btn{
    width: 10%;
    background: #402F2C;
    padding-top: 6px;
    padding-bottom: 6px;
    cursor: pointer;
    border: none;
    transition: 0.7s;
}

.search-btn:hover{
    background: rosybrown;
    transition: 0.7s;
}

.shopnow-btn{
    width: 22%;
    margin-top: 60px;
    margin-bottom: 30px;
    line-height: 56px;
    background: #402F2C;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #402F2C;
    transition: 0.4s;
}

.shopnow-btn:hover{
    background: #FFFFFF;
    transition: 0.4s;
}

.a-active{
    width: 100%;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 18px;
    transition: 0.4s;
}

.a-active:hover{
    color: #402F2C;
    transition: 0.4s;
}

.hero-background{
    position: relative;
    width: 59.4%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.img-background{
    max-width: 100%;
}

.strokes-rect{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 20%;
    height: 24.8%;
    padding: 49px 0;
    background: #F9F6F5;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.strokes{
    height: 40px;
    transition: 0.4s;
}

.strokes:hover{
    transform: scale(1.2);
    transition: 0.4s;
    cursor: pointer;
}

/*------------------------------------ CLIENTS SECTION -----------------------*/

.clients{
    max-width: 1440px;
    min-width: 1300px;    /*new*/
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 130px 0;
}

.clients-block{
    width: 81%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #EEEEEE;
    border-left: none;
    border-right: none;
    padding: 41px 0;
}

.clients-styles-air svg path{
    transition: 0.7s;
}

.clients-styles-air:hover svg path{
    fill: #FF585D;
    transition: 0.7s;
}

.clients-styles-hub svg path{
    transition: 0.7s;
}

.clients-styles-hub:hover svg path{
    fill: #FA7820;
    transition: 0.7s;
}

.clients-styles-goog svg path{
    transition: 0.7s;
}

.clients-styles-goog:hover svg path{
    fill: dodgerblue;
    transition: 0.7s;
}

.clients-styles-micr svg path{
    transition: 0.7s;
}

.clients-styles-micr:hover svg path{
    fill: #0F9058;
    transition: 0.7s;
}

.clients-styles-walm svg path{
    transition: 0.7s;
}

.clients-styles-walm:hover svg path{
    fill: #FFB81C;
    transition: 0.7s;
}

.clients-styles-fedex svg path{
    transition: 0.7s;
}

.clients-styles-fedex:hover svg path{
    fill: #660099;
    transition: 0.7s;
}

/*----------------------------------- POPULAR PRODUCTS SECTION --------------------------*/

.our-popular-product {
    max-width: 1440px;
    min-width: 1300px;
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0 100px;
}

.for-big-img{
    max-width: 100%;
}

.popular-container{
    max-width: 1240px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 130px;
}

.popular-title{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.popular-main-title{
    width: 100%;
    color: #000000;
    line-height: 70px;
}

.popular-small-title{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 20px;
}

.popular-paragraph{
    color: #555555;
    line-height: 32px;
    margin-right: 246px;
}

.popular-discover{
    text-decoration-line: underline;
    color: #222222;
    line-height: 24px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.discover-text{
    width: 250px;
    margin-right: 12px;
}

.acolor{
    color: #222222;
}

.acolor:hover{
    color: darkslategray;
}

.acolor svg{
    transition: 0.5s;
}

.acolor svg:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

.acolor svg:hover path{
    fill: darkslategray;
}

.popular-cards{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 60px;
}

.both-cards{
    max-width: 600px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid rgba(104, 90, 82, 0.19);
}

.both-cards:first-child{
    margin-right: 40px;
}

.cosm-products{
    color: #222222;
    line-height: 60px;
    margin-top: 20px;
    margin-left: 32px;
}

.lorem-products{
    color: #555555;
    line-height: 32px;
    margin-top: 16px;
    margin-left: 32px;
}

.card-info{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 48px 32px 32px 32px;
}

.buttons-card{
    width: 62%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.buy-now{
    width: 41%;
    line-height: 56px;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #402F2C;
    border: 1px solid #402F2C;
    transition: 0.7s;
}

.buy-now:hover{
    background: #FFFFFF;
    border: 1px solid #402F2C;
    transform: scale(1.1);
    transition: 0.7s;
}

.add-to-cart{
    width: 52%;
    line-height: 56px;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #402F2C;
    border: 1px solid #402F2C;
    box-sizing: border-box;
    transition: 0.7s;
}

.add-to-cart:hover{
    background: #FFFFFF;
    transform: scale(1.1);
    transition: 0.7s;
}

.a-popular-buy{
    width: 100%;
    color: #FFFFFF;
    transition: 0.7s;
}

.a-popular-buy:hover{
    color: #402F2C;
    transition: 0.7s;
}

.a-popular-add{
    width: 100%;
    color: #FFFFFF;
    transition: 0.7s;
}

.a-popular-add:hover{
    color: #402F2C;
    transition: 0.7s;
}

.price-text{
    line-height: 32px;
    color: #222222;
}



/*------------------------------------------- STATS SECTION -----------------------------*/

.stats{
    max-width: 1440px;
    min-width: 1300px;
    width: 100%;
    background: #FDF8F5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 175px;
}

.stat-container{
    max-width: 1090px;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 58px 0;
}

.stat-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.7s;
}

.stat-card:hover{
    transform: scale(1.1);
    transition: 0.7s;
    cursor: pointer;
}

.stat-bigtitle{
    line-height: 70px;
    color: #222222;
    text-decoration-line: underline;
    font-weight: 700;
}

.stat-paragraph{
    line-height: 30px;
    color: #555555;
    margin-top: 34px;
    font-weight: 500;
    font-size: 24px;
}

/*-------------------------------------- ABOUT US SECTION --------------------------*/

.about-section{
    max-width: 1440px;
    min-width: 1300px;
    width: 100%;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 130px 100px;
}

.about{
    max-width: 1240px;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.perfect-beauty{
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.amazing-cosmetics{
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 130px;
}

.beauty-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 32px;
}

.beauty-main-title{
    line-height: 70px;
    color: #000000;
    margin-top: 45px;
}

.beauty-lorem-paragraph{
    line-height: 32px;
    color: #555555;
    margin-top: 20px;
}

.beauty-it-has-paragraph{
    line-height: 32px;
    color: #555555;
    margin-top: 20px;
}

.shop-now-btn{
    line-height: 56px;
    width: 24%;
    margin-top: 50px;
    margin-bottom: 45px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #402F2C;
    background: #402F2C;
    transition: 0.7s;
}

.shop-now-btn:hover{
    background: #FFFFFF;
    transition: 0.7s;
}

.a-pressed{
    width: 100%;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 18px;
    transition: 0.7s;
}

.a-pressed:hover{
    color: #402F2C;
    transition: 0.7s;
}

.cosmetics-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 32px;
}

.cosmetics-main-title{
    line-height: 40px;
    margin-left: 17px;
    margin-top: 30px;
    color: #222222;
}

.stars-block{
    margin-left: 17px;
    margin-top: 12px;
}

.stars-block:hover path{
    fill: #FF6800;
}

.stars-block:hover{
    cursor: pointer;
}

.cosmetics-description{
    margin-top: 43px;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.cosmetics-paragraph{
    line-height: 32px;
    color: #555555;
}

.mini-title{
    line-height: 40px;
    color: #222222;
    margin-top: 79px;
    margin-left: 17px;
}

.designer-paragraph{
    line-height: 24px;
    color: #555555;
    margin-top: 10px;
    margin-left: 17px;
}

.round-buttons{
    margin-top: 22px;
    margin-left: 17px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.left-round-btn{
    padding: 11.33px 13.67px;
    border: 1px solid rgba(111, 181, 135, 0.15);
    border-radius: 50%;
    margin-right: 20px;
    transform: rotate(180deg);
}

.right-round-btn{
    padding: 11.33px 13.67px;
    border: 1px solid rgba(111, 181, 135, 0.15);
    border-radius: 50%;
}

.left-round-btn:hover{
    border: 1px solid #6FB587;
    background: lightcyan;
}

.right-round-btn:hover{
    border: 1px solid #6FB587;
    background: lightcyan;
}

/*------------------------------------ FOOTER SECTION ------------------------------------------*/

.footer-section{
    max-width: 1440px;
    min-width: 1300px;
    width: 100%;
    background: #FAFAFA;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 100px;
}

.footer-container{
    max-width: 1240px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sub-block{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #DDDDDD;
}

.end-block{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.sub-text{
    width: 50%;
    line-height: 46px;
    color: #222222;
    margin: 108px 234px 64px 0;
}

.sub-form{
    width: 386px;
    margin-top: 103px;
    margin-bottom: 59px;
    background: #FFFFFF;
    padding: 8px;
}

.sub-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.email-field{
    width: 72%;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #555555;
    padding-left: 10px;
    border: none;
    outline: none;
}

.sub-btn{
    width: 28%;
    background: #402F2C;
    cursor: pointer;
    border: 1px solid #402F2C;
    line-height: 40px;
    transition: 0.4s;
}

.sub-btn:hover{
    background: #FFFFFF;
    transform: scale(1.04);
    transition: 0.4s;
}

.a-sub-btn{
    width: 100%;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 14px;
    padding: 12px 18.66px;
    transition: 0.4s;
}

.a-sub-btn:hover{
    color: #402F2C;
    transition: 0.4s;
}

.end-block-container{
    width: 100%;
    padding: 0 105px;
    display: flex;
    flex-direction: row;
}

.dudeshape-footer{
    margin: 59px 212px 52px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.special-h3{
    font-weight: 700;
    font-style: italic;
    line-height: 50px;
    text-decoration-line: underline;
    color: #222222;
    transition: 0.7s;
}

.special-h3:hover{
    color: rebeccapurple;
    transition: 0.7s;
    cursor: pointer;
}

.special-p{
    font-size: 18px;
    line-height: 32px;
    color: #555555;
    margin-top: 38px;
}

.links-block{
    margin: 84px 213px 80px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.special-h6{
    font-size: 20px;
    line-height: 24px;
    color: #222222;
}

.links-footer{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #222222;
    margin-top: 20px;
}

.links-footer:hover{
    color: blue;
}

.links-footer-special{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #222222;
    margin-top: 39px;
}

.links-footer-special:hover{
    color: blue;
}

.contact-us-block{
    margin: 84px 0 88px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.social-links{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.a-social{
    margin-right: 27px;
}

.a-social:last-child{
    margin-right: 0;
}

.facebook-icon:hover g path{
    fill: #3B5998;
}

.twit-icon:hover g path{
    fill: #00ACEE;
}

.inst-icon:hover g path{
    fill: #E1306C;
}

/*----------------------------- CENTRALYZING PAGE ------------------*/

body {
    min-height: 100vh;
    min-width: 1300px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow-x: hidden;
}

















