/*------------------------- GLOBAL -------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, a, p{
    margin: 0;
    padding: 0;
}

h1, h2{
    font-size: 56px;
    font-weight: 500;
}

h3{
    font-size: 40px;
    font-weight: 500;
}

h4{
    font-size: 36px;
    font-weight: 500;
}

h5{
    font-size: 30px;
    font-weight: 500;
}

h6{
    font-size: 24px;
    font-weight: 500;
}

p{
    font-size: 20px;
    font-weight: 400;
}

a{
    font-size: 16px;
    font-weight: 400;
}

body{
    font-family: 'Red Hat Display', sans-serif;
}



/*----------------------------- UPPER SECTION -----------------*/

       /*---------------------- HEADER ------------------*/

.upper{
    max-width: 1440px;
    width: 100%;
    background-color: #F9F6F5;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header{
    max-width: 1440px;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 40px 100px;
}

.logo-text{
    line-height: 30px;
    text-decoration-line: underline;
    color: #222222;
    font-weight: bold;
    font-style: italic;
}

.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.menulist{
    color: #222222;
    line-height: 20px;
    margin-right: 40px;
}

.menulist:last-child{
    margin-right: 0;
}

.menulist a{
    color: #222222;
}

.header-icons{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-icons-mod{
    margin-right: 24px;
}

.header-icons-mod:last-child{
    margin-right: 0;
}

      /*---------------------------- HERO ----------------------------*/

.hero {
    max-width: 1440px;
    width: 100%;
    position: relative;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-left: 100px;
}

.hero-text{
    max-width: 1440px;
    width: 50%;
    background: #F9F6F5;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.hero-maintitle{
    line-height: 70px;
    color: #000000;
}

.hero-paragraph{
    line-height: 32px;
    margin-top: 30px;
    color: #555555;
}

.search-form{
    width: 336px;
    background: #FFFFFF;
    padding: 8px;
    margin-top: 30px;
}

.form-container{
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.search-field{
    width: 90%;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #999999;
    padding-left: 8px;
    border: none;
    outline: none;
}

.search-btn{
    width: 10%;
    background: #402F2C;
    padding-top: 4px;
    padding-bottom: 4px;
    cursor: pointer;
}

.shopnow-btn{
    width: 22%;
    margin-top: 60px;
    margin-bottom: 30px;
    line-height: 56px;
    background: #402F2C;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
}
.a-active{
    width: 100%;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 18px;
}

.hero-background{
    position: relative;
    width: 59.4%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.img-background{
    max-width: 100%;
}

.strokes-rect{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 20%;
    height: 24.8%;
    padding: 49px 0;
    background: #F9F6F5;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.strokes{
    height: 40px;
}

/*------------------------------------ CLIENTS SECTION -----------------------*/

.clients{
    max-width: 1440px;
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 130px 0;
}

.clients-block{
    width: 81%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #EEEEEE;
    border-left: none;
    border-right: none;
    padding: 41px 0;
}

.clients-styles-air:hover svg path{
    fill: #FF585D;
}

.clients-styles-hub:hover svg path{
    fill: #FA7820;
}

.clients-styles-goog:hover svg path{
    fill: dodgerblue;
}

.clients-styles-micr:hover svg path{
    fill: #0F9058;
}

.clients-styles-walm:hover svg path{
   fill: #FFB81C;
}

.clients-styles-fedex:hover svg path{
    fill: #660099;
}


